/**
 * Any screen equal to or smaller than 447px
 **/

#monitor-logonav-grid {
  display: none;
}

#monitor-info-container-grid {
  display: none;
}

#monitor-footer-grid {
  display: none;
}

body {
  background-image: none;
}

#pg-container {  
  width: 312px;
}

#pg-grid {
  margin-top: -5px;
  
  margin-right: auto;
  margin-left: auto;
}

#tiny-logonav-grid {
  display: inline;
  
  margin-right: auto;
  margin-left: auto;
}

#tiny-home-logo-column {
  border-bottom: 1px solid #3690d4;
  
  width: 312px;
}

#tiny-logo-img {
  display: block;
  
  margin-right: auto;
  margin-left: auto;

  width: 137px;
  height: 75px;
}

#info-container-row {
  margin-top: -12px;
  
  background-color: #ffffff;
}

#tiny-info-container-grid {
  display: inline;
  
  margin-top: -5px;
  
  margin-right: auto;
  margin-left: auto;
}

#tiny-open-close-row {
  margin-top: -13px;
}

#tiny-open-closed {
  display: inline;
  
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
}

#tiny-phone-row {
  margin-top: -18px;
}

#tiny-phone-number-btn {  
  width: 277px;
  height: 60px;
  
  margin-right: auto;
  margin-left: auto;
}

#tiny-address-row {
  margin-top: -26px;
}

#tiny-address-btn {  
  width: 277px;
  height: 60px;
  
  margin-right: auto;
  margin-left: auto;
}

#tiny-biz-hrs-row {
  margin-top: -10px;
  
  padding: 5px;
  
  border-top: 1px solid #3690d4;
}

#tiny-biz-hrs-txt {
  border-right: 1px solid #3690d4;
}

footer {
  height: 40px;
  background-color: #ffffff;
  
  border-top: 1px solid #3690d4;
}

#tiny-footer-grid {
  display: inline;
  
  margin-top: -10px;
}

#tiny-footer-row1 {
  margin-top: -40px;
  margin-bottom: 0px;
}

#tiny-footer-grid a i {
  font-size: 16pt;
}

.list .item {
  border-top: 1px solid #3690d4;
}
