{% extends '_base.html' %}

{% load static %}

{% block pg_title %}Brake Services{% endblock %}

{% block pg_content %}
<!-- START TINY -->
<div id="tiny-info-container-grid" class="ui grid">
  <div class="one column row">
    <div class="column">
      <h2>Brake Services</h2>
    </div>
  </div>
  <div class="one column row">
    <div class="column">
      <ul class="ui middle aligned selection list">
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Front Disk Brakes</div>
            <div class="description"><small>$74.99</small></div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Rear Drum Brakes</div>
            <div class="description"><small>$69.99</small></div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Rear Disk Brakes</div>
            <div class="description"><small>$129.99</small></div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Ceramic Disc Brakes</div>
            <div class="description"><small><b>Front: </b>$129.99 | <b>Back: </b>$129.99</small></div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Rotor Re-Surface</div>
            <div class="description"><small>$12.50 each</small></div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Brake Fluid Exchange</div>
            <div class="description"><small>$34.99</small></div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Synthetic Brake Fluid Exchange</div>
            <div class="description"><small>$34.99</small></div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
<!-- END TINY -->
<!-- START MONITOR -->
<div id="monitor-info-container-grid" class="ui center aligned grid">
  <div class="one column row">
    <div class="column">
      <h2>Brake Services</h2>
    </div>
  </div>
  <div id="monitor-services-row1" class="four column row">
    <div class="column">
      <div class="content">
        <div class="header"><strong>Front Disk Brakes</strong></div>
        <div class="description">$74.99</div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Rear Drum Brakes</strong></div>
        <div class="description">$69.99</div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Rear Disk Brakes</strong></div>
        <div class="description">$129.99</div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Ceramic Disc Brakes</strong></div>
        <div class="description"><b>Front: </b>$129.99<br><b>Back: </b>$129.99</div>
      </div>
    </div>
  </div>
  <div id="monitor-services-row2" class="three column row">
    <div class="column">
      <div class="content">
        <div class="header"><strong>Rotor Re-Surface</strong></div>
        <div class="description">$12.50 each</div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Brake Fluid Exchange</strong></div>
        <div class="description">$34.99</div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Synthetic Brake Fluid Exchange</strong></div>
        <div class="description">$34.99</div>
      </div>
    </div>
  </div>
</div> <!-- close 'monitor-info-container-grid' -->
<!-- END MONITOR -->
{% endblock %}