{% extends '_base.html' %}

{% load static %}

{% block pg_title %}15k, 45k, 75k, 105k Service{% endblock %}

{% block pg_content %}
<!-- START TINY -->
<div id="tiny-info-container-grid" class="ui grid">
  <div class="one column row">
    <div class="column">
      <h2>15k, 45k, 75k, 105k Service</h2>
    </div>
  </div>
  <div class="one column row">
    <div class="column">
      $69.99 | Includes:
    </div>
    <div class="column">
      <ul class="ui middle aligned selection list">
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Lube, Oil, Filter</div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Check &amp; Fill Fluid Levels</div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Comprehensive Vehicle Inspection</div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Inspect Tire Conditions, Rotate <small>(if needed)</small>, Spin Balance Front 2 Tires, Set Air Pressure, Including Spare</div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Check Wiper Blades</div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Check Lights & Turn Signals</div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Check Brakes</div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
<!-- END TINY -->
<!-- START MONITOR -->
<div id="monitor-info-container-grid" class="ui center aligned grid">
  <div class="one column row">
    <div class="column">
      <h2>15k, 45k, 75k, 105k Service</h2>
    </div>
  </div>
  <div class="one column row">
    <div class="column">
      $69.99 Includes:
    </div>
  </div>
  <div id="monitor-services-row1" class="four column row">
    <div class="column">
      <div class="content">
        <div class="header"><strong>Lube, Oil, Filter</strong></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Check & Fill Fluid Levels</strong></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Comprehensive Vehicle Inspection</strong></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Inspect Tire Conditions, Rotate (if needed), Spin Balance Front 2 Tires, Set Air Pressure, Including Spare</strong></div>
      </div>
    </div>
  </div>
  <div class="four column row">
    <div class="column">
      <div class="content">
        <div class="header"><strong>Replace Air Filter</strong></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Check Wiper Blades</strong></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Check Lights & Turn Signals</strong></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Check Brakes</strong></div>
      </div>
    </div>
  </div>
</div> <!-- close 'monitor-info-container-grid' -->
<!-- END MONITOR -->
{% endblock %}