{% extends '_base.html' %}

{% load static %}

{% block pg_title %}Oil Change Packages{% endblock %}

{% block pg_content %}
<!-- START TINY -->
<div id="tiny-info-container-grid" class="ui grid">
  <div class="one column row">
    <div class="column">
      <h2>Oil Change Packages</h2>
    </div>
  </div>
  <div class="one column row">
    <div class="column">
      <ul class="ui middle aligned selection list">
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Oil Change VIP Packages</div>
              <div class="description"><a href="tel:+15207777195">Call</a> for details</div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Basic Oil Change</div>
            <div class="description"><small>$13.99 (+ tax & disposal fees)</small></div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Synthetic Blend</div>
            <div class="description"><small>$23.99 (includes multipoint inspection)</small></div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Full Synthetic</div>
            <div class="description"><small>$39.99 (includes multipoint inspection)</small></div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Diesel Oil Change</div>
            <div class="description"><small>$49.99 (up to 12 qts + filter)</small></div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
<!-- END TINY -->
<!-- START MONITOR -->
<div id="monitor-info-container-grid" class="ui center aligned grid">
  <div class="one column row">
    <div class="column">
      <h2>Oil Change Packages</h2>
    </div>
  </div>
  <div class="one column centered row">
    <h3>Oil Change VIP Packages</h3>
    <p><a href="tel:+15207777195">Call</a> for details</p>
  </div>
  <div id="monitor-services-row1" class="four column row">
    <div class="column">
      <div class="content">
        <div class="header"><strong>Basic Oil Change</strong></div>
        <div class="description">$13.99<br><small>(+ tax & disposal fees)</small></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Synthetic Blend</strong></div>
        <div class="description">$23.99<br><small>(includes multipoint inspection)</small></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Full Synthetic</strong></div>
        <div class="description">$39.99<br><small>(includes multipoint inspection)</small></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Diesel Oil Change</strong></div>
        <div class="description">$49.99<br><small>(up to 12 qts + filter)</small></div>
      </div>
    </div>
  </div>
</div> <!-- close 'monitor-info-container-grid' -->
<!-- END MONITOR -->
{% endblock %}