{% extends '_base.html' %}

{% load static %}

{% block pg_title %}Road Trip Services{% endblock %}

{% block pg_content %}
<!-- START TINY -->
<div id="tiny-info-container-grid" class="ui grid">
  <div class="one column row">
    <div class="column">
      <h2>Road Trip Services</h2>
    </div>
  </div>
  <div class="one column row">
    <div class="column">
      $59.99 | Includes:
    </div>
    <div class="column">
      <ul class="ui middle aligned selection list">
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Basic Oil Change</div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Inspect Coolant</div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Air Filter Service</div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Tire Pressure Check &amp; Service</div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Tire Rotation (if needed)</div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Brake Inspection</div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Inspect Charging System</div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Multipoint Safety Inspection</div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Computer Scan</div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Battery Service</div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
<!-- END TINY -->
<!-- START MONITOR -->
<div id="monitor-info-container-grid" class="ui center aligned grid">
  <div class="one column row">
    <div class="column">
      <h2>Road Trip Services</h2>
    </div>
  </div>
  <div class="one column row">
    <div class="column">
      $59.99 Includes:
    </div>
  </div>
  <div id="monitor-services-row1" class="five column row">
    <div class="column">
      <div class="content">
        <div class="header"><strong>Basic Oil Change</strong></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Inspect Coolant</strong></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Air Filter Service</strong></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Tire Pressure Check &amp; Service</strong></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Tire Rotation (if needed)</strong></div>
      </div>
    </div>
  </div>
  <div class="five column row">
    <div class="column">
      <div class="content">
        <div class="header"><strong>Brake Inspection</strong></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Inspect Charging System</strong></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Multipoint Safety Inspection</strong></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Computer Scan</strong></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Battery Service</strong></div>
      </div>
    </div>
  </div>
</div> <!-- close 'monitor-info-container-grid' -->
<!-- END MONITOR -->
{% endblock %}