{% extends '_base.html' %}

{% load static %}

{% block pg_title %}Suspension Services{% endblock %}

{% block pg_content %}
<!-- START TINY -->
<div id="tiny-info-container-grid" class="ui grid">
  <div class="one column row">
    <div class="column">
      <h2>Suspension Services</h2>
    </div>
  </div>
  <div class="one column row">
    <div class="column">
      <ul class="ui middle aligned selection list">
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Basic Alignment</div>
            <div class="description"><small>$39.99</small><sup>*</sup></div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Custom Wheels</div>
            <div class="description"><small>$69.99 +</small><sup>*</sup></div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Shocks</div>
            <div class="description"><small>$49.99 (installed: $89.99)</small><sup>*</sup></div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Struts (per pair)</div>
            <div class="description"><small>$269.99</small><sup>*</sup></div>
          </div>
        </div>
      </ul>
    </div>
  </div>
  <div class="one column row">
    <div class="column">
      <sup>*</sup> Alignment is <b>NOT</b> included
    </div>
  </div>
</div>
<!-- END TINY -->
<!-- START MONITOR -->
<div id="monitor-info-container-grid" class="ui center aligned grid">
  <div class="one column row">
    <div class="column">
      <h2>Suspension Services</h2>
    </div>
  </div>
  <div id="monitor-services-row1" class="four column row">
    <div class="column">
      <div class="content">
        <div class="header"><strong>Basic Alignment</strong></div>
        <div class="description">$39.99</div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Custom Wheels</strong></div>
        <div class="description">$69.99 +</div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Shocks</strong></div>
        <div class="description">$49.99 (installed: $89.99)</div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Struts per pair</strong></div>
        <div class="description">$269.99 (installed)</div>
      </div>
    </div>
  </div>
  <div id="monitor-services-row2" class="one column row">
    <div class="column">
      <sup>*</sup> Alignment is <b>NOT</b> included.
    </div>
  </div>
</div> <!-- close 'monitor-info-container-grid' -->
<!-- END MONITOR -->
{% endblock %}