{% extends '_base.html' %}

{% load static %}

{% block pg_title %}Tires &amp; Wheels{% endblock %}

{% block pg_content %}
<!-- START TINY -->
<div id="tiny-info-container-grid" class="ui grid">
  <div class="one column row">
    <div class="column">
      <h2>Tires &amp; Wheels</h2>
    </div>
  </div>
  <div class="one column row">
    <div class="column">
      <ul class="ui middle aligned selection list">
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Used Tires</div>
            <div class="description"><small>$30.00</small></div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Tire Rotation</div>
            <div class="description"><small>$10.00</small></div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Tire Balancing</div>
            <div class="description"><small><b>Stock Wheels:</b> $10.00 | <b>Custom Wheels: </b> Varies</small></div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Tire Patch</div>
            <div class="description"><small>$10.00</small></div>
          </div>
        </div>
        <div class="item">
          <i class="angle right icon"></i>
          <div class="content">
            <div class="header">Tire Mount</div>
            <div class="description"><small>$10.00 ea.</small></div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
<!-- END TINY -->
<!-- START MONITOR -->
<div id="monitor-info-container-grid" class="ui center aligned grid">
  <div class="one column row">
    <div class="column">
      <h2>Tires &amp; Wheels</h2>
    </div>
  </div>
  <div id="monitor-services-row1" class="three column row">
    <div class="column">
      <div class="content">
        <div class="header"><strong>Used Tires</strong></div>
        <div class="description">$30.00</div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Tire Rotation</strong></div>
        <div class="description">$10.00</div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Tire Balancing</strong></div>
        <div class="description"><b>Stock Wheels:</b> $10.00<br><b>Custom Wheels:</b> Varies</div>
      </div>
    </div>
  </div>
  <div class="two column row">
    <div class="column">
      <div class="content">
        <div class="header"><strong>Tire Patch</strong></div>
        <div class="description">$10.00</div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="header"><strong>Tire Mount</strong></div>
        <div class="description">$10.00 ea.</div>
      </div>
    </div>
  </div>
</div> <!-- close 'monitor-info-container-grid' -->
<!-- END MONITOR -->
{% endblock %}