<div id="monitor-footer-grid" class="ui internally celled grid">
  <div class="three column row">
    <div class="center aligned column">
      &nbsp; <!-- placeholder for mx-flag and 'Espanol' link -->
    </div>
    <div class="center aligned column">
      <a href="https://www.facebook.com/Macs-Tire-Complete-Auto-Repair-1533908336832487/" target="_blank">
        <i class="facebook icon"></i><br>
        Like Us on FB
      </a>
    </div>
    <div class="center aligned column">
      &nbsp;
    </div>
  </div>
</div>