<div id="tiny-footer-grid" class="ui grid">
  <!-- ROW 1: MX flag | FB icon | Privacy Policy link -->
  <div id="tiny-footer-row1" class="three column row">
    <div class="column">&nbsp;<!-- placeholder for Mexican flag/link --></div>
    <div class="center aligned column">
      <a href="https://www.facebook.com/Macs-Tire-Complete-Auto-Repair-1533908336832487/" target="_blank">
        <i class="facebook icon"></i>
      </a>
    </div>
    <div class="column">
      <a href="{% url 'privacy-policy' %}"><i class="lock icon"></i></a></div>
  </div>
  <!-- ROW 2: Feedback link | E-mail link -->
  <div id="tiny-footer-row2" class="two column row">
    <div class="column">&nbsp;<!-- placeholder for Feedback link --></div>
    <div class="center aligned column">
      <i class="envelope outline icon"></i>
      <a style="color: #242b2c;" href="mailto:info@oiltucson.com">
        E-mail Us
      </a>
    </div>
  </div>
  <!-- ROW 3: Smart site nav -->
  <div id="tiny-footer-row3" class="one column row">
    <div class="center aligned column">
      {% include '_footer-nav.html' %}
    </div>
  </div>
</div> <!-- close 'tiny-footer-grid' -->