{% load static %}

<div id="tiny-logonav-grid" class="ui grid">
  <div class="two column row">
    <!-- START LEFT LOGO COLUMN-->
    <div id="tiny-home-logo-column" class="column">
      <img id="tiny-logo-img" class="ui rounded image" src="{% static 'pages/images/logo.jpg' %}" alt="Macs's Tire &amp; Complete Auto Repair Logo">
      <h1>Mac's Tire<br>&amp;<br>Complete<br>Auto Repair</h1>
    </div>
    <!-- START RIGHT BUTTON NAV COLUMN -->
    <div id="tiny-nav-column" class="center aligned column">
      <a href="{% url 'services' %}">
        <button id="tiny-services-btn" class="ui labeled icon button">
          <i class="wrench icon"></i> What<br>We Do
        </button>
      </a>
      <button id="tiny-scheduleservice-btn" class="ui labeled icon active button">
        <i class="calendar alternate outline icon"></i> Schedule Oil Change
      </button>
      <button id="tiny-about-btn" class="ui labeled icon active button">
        <i class="info circle icon"></i> Who<br>We Are
      </button>
    </div>
  </div>
</div> <!-- close 'tiny-logonav-grid' -->