{% extends '_base.html' %}

{% load static %}

{% block pg_title %}Services{% endblock %}

{% block pg_content %}
<!-- START TINY -->
<div id="tiny-info-container-grid" class="ui grid">
  <div class="one column row">
    <div class="column">
      <h2>Privacy Policy</h2>
    </div>
  </div>
  <div class="one column row">
    <div class="column">
      <h3>Summary</h3>
      <p>While most other privacy policies out there seem to be only readable by lawyers and in place mostly to protect the entities who are spying on you online, we intend to go in the opposite direction.</p>
      <p>The gist of what follows is:
        <ul>
          <li>We encrypt all traffic between you and us</li>
          <li>We respect your privacy so we won't track you after you've left our site</li>
          <li>Any information we collect from you is not sold to anyone</li>
        </ul>
      </p>
      <h3>Secure/Encrypted Connection</h3>
      <p>We've taken the extra step of ensuring that what you do on our site stays between you and us. Secure connections make it nearly impossible for someone snooping to determine what you are doing on a particular site. Your ISP, for example, will know that you are on our site. They won't, however, know what you are doing on our site. Secure logins have been around for a long time. We believe that you should have that same level of security all of the time - treat a click of a link the same way your authentication credentials are treated.</p>

      <h3>Cookies</h3>
      <p>Cookies tend to get a bad rep. Cookies were first developed so that website you visit would remember your preferences and the site would load how you customized it. Today, however, cookies have been sprinkled and glazed with tracking capabilities that rival spy agency networks. And all for marketing? All so that your browser will display a particular product, at the a certain price, at the precise time that some algorithm has determined that you will buy.</p>
      <p>We currently don't use cookies. <b>Please check back periodically, as this may change</b> but know that if we do decide to use cookies, they would be our site only and never for serving your targeted ads.</p>

      <h3>Your Information Remains Private</h3>
      <p>We currently don't gather any information from you online. <b>Please check back periodically, as this may change</b> but our policy has always been to keep customer information private and sharing with a third party as little as possible.</p>
      <p>That said, we do use 3rd party products that require us to provide vehicle information. We use Carfax, for example, to retrieve your vehicle make, model, VIN, etc by querying their service using your license plate number. While we can't be sure how other entities with which we work use your information, we assure you that we only partner with reputable and well-respected member of the automotive industry.</p>
      <p>If you ever feel that any 3rd party with whom we do business is misusing your information, please
  <a href="mailto:info@oiltucson.com">e-mail us</a> immediately.</p>
    </div>
  </div>
</div>
<!-- END TINY -->
<!-- START MONITOR -->
<div id="monitor-info-container-grid" class="ui center aligned grid">
  <div class="one column row">
    <div class="column">
      <h2>Privacy Policy</h2>
    </div>
  </div>
  <div class="one column row">
    <div class="left aligned column">
      <h3>Summary</h3>
      <p>While most other privacy policies out there seem to be only readable by lawyers and in place mostly to protect the entities who are spying on you online, we intend to go in the opposite direction.</p>
      <p>The gist of what follows is:
        <ul>
          <li>We encrypt all traffic between you and us</li>
          <li>We respect your privacy so we won't track you after you've left our site</li>
          <li>Any information we collect from you is not sold to anyone</li>
        </ul>
      </p>
      <h3>Secure/Encrypted Connection</h3>
      <p>We've taken the extra step of ensuring that what you do on our site stays between you and us. Secure connections make it nearly impossible for someone snooping to determine what you are doing on a particular site. Your ISP, for example, will know that you are on our site. They won't, however, know what you are doing on our site. Secure logins have been around for a long time. We believe that you should have that same level of security all of the time - treat a click of a link the same way your authentication credentials are treated.</p>

      <h3>Cookies</h3>
      <p>Cookies tend to get a bad rep. Cookies were first developed so that website you visit would remember your preferences and the site would load how you customized it. Today, however, cookies have been sprinkled and glazed with tracking capabilities that rival spy agency networks. And all for marketing? All so that your browser will display a particular product, at the a certain price, at the precise time that some algorithm has determined that you will buy.</p>
      <p>We currently don't use cookies. <b>Please check back periodically, as this may change</b> but know that if we do decide to use cookies, they would be our site only and never for serving your targeted ads.</p>

      <h3>Your Information Remains Private</h3>
      <p>We currently don't gather any information from you online. <b>Please check back periodically, as this may change</b> but our policy has always been to keep customer information private and sharing with a third party as little as possible.</p>
      <p>That said, we do use 3rd party products that require us to provide vehicle information. We use Carfax, for example, to retrieve your vehicle make, model, VIN, etc by querying their service using your license plate number. While we can't be sure how other entities with which we work use your information, we assure you that we only partner with reputable and well-respected member of the automotive industry.</p>
      <p>If you ever feel that any 3rd party with whom we do business is misusing your information, please
  <a href="mailto:info@oiltucson.com">e-mail us</a> immediately.</p>
    </div>
  </div>
</div> <!-- close 'monitor-info-container-grid' -->
<!-- END MONITOR -->
{% endblock %}